// Vendors
// @import 'vendors/vendor';

// Base
@import "base/reset";
@import "base/typography";
@import "base/variables";
@import "base/mixins";
@import "base/base";

// Components
@import "components/buttons";
@import "components/burger";
@import "components/heading";
@import "components/swiper";

// Layouts
@import "layouts/hero";
@import "layouts/contact";
@import "layouts/introduction";
@import "layouts/build-why";
@import "layouts/technologies";
@import "layouts/build-how";
@import "layouts/footer";
