<footer class="footer">
	<img class="footer__deco footer__deco--1" src="assets/images/dev/footer/deco_01.svg" alt="deco" />
	<img class="footer__deco footer__deco--2" src="assets/images/dev/footer/deco_02.svg" alt="deco" />
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__row">
				<div class="footer__column">
					<a class="link link--no-hover footer__logo_link" href="index.html">
						<img class="footer__logo" src="assets/images/dev/svg/logo.svg" alt="Logo" />
					</a>
				</div>
				<div class="footer__column footer__column--navigation">
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#hero" class="footer__link">WHO WE ARE</a>
						</li>
						<li class="footer__item">
							<a href="#introduction" class="footer__link">INTRODUCTION</a>
						</li>
						<li class="footer__item">
							<a href="#technologies" class="footer__link">TECHNOLOGIES</a>
						</li>
						<li class="footer__item">
							<a href="#how" class="footer__link">HOW TO</a>
						</li>
					</ul>
				</div>
				<div class="footer__column footer__column--navigation">
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#about" class="footer__link">ABOUT</a>
						</li>
						<li class="footer__item">
							<a href="#why" class="footer__link">WHY WE</a>
						</li>
						<li class="footer__item">
							<a href="#join" class="footer__link">JOIN HYDRA</a>
						</li>
						<li class="footer__item">
							<a href="#contact" class="footer__link">CONTACT</a>
						</li>
					</ul>
				</div>
				<div class="footer__column">
					<span class="footer__subtitle">SOCIALIZE WITH HYDRA</span>
					<ul class="footer__media_list">
						<li class="footer__media_item">
							<a href="" class="link link--no-hover footer__media_link">
								<img src="assets/images/dev/svg/facebook.svg" alt="" class="footer__media_image" />
							</a>
						</li>
						<li class="footer__media_item">
							<a href="" class="link link--no-hover footer__media_link">
								<img src="assets/images/dev/svg/linkedin.svg" alt="" class="footer__media_image" />
							</a>
						</li>
						<li class="footer__media_item">
							<a href="" class="link link--no-hover footer__media_link">
								<img src="assets/images/dev/svg/twitter.svg" alt="" class="footer__media_image" />
							</a>
						</li>
						<li class="footer__media_item">
							<a href="" class="link link--no-hover footer__media_link">
								<img src="assets/images/dev/svg/youtube.svg" alt="" class="footer__media_image" />
							</a>
						</li>
					</ul>
					<a class="button footer__button" href="#join">BUILD YOUR WORLD</a>
				</div>
			</div>
			<div class="footer__bottom">
				<span class="footer__text">
					2023 © HYDRA LANDING PAGE - BY
					<a href="https://t.me/iva_tkachuk" target="_blank">IT</a>
					- ALL RIGHTS RESERVED
				</span>
			</div>
		</div>
	</div>
</footer>
