<header class="header js-header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__column">
				<a href="index.html" class="link link--no-hover header__logo_link" aria-label="Home page">
					<img class="header__logo" src="./assets/images/dev/svg/logo--full.svg" alt="Logo" />
				</a>
				<button class="burger js-burger" aria-label="Press to see navigation menu">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<nav class="header__navigation js-header-nav">
				<ul class="header__list">
					<li class="header__item"><a class="header__link" href="#introduction">ABOUT</a></li>
					<li class="header__item"><a class="header__link" href="#why">SERVICES</a></li>
					<li class="header__item"><a class="header__link" href="#technologies">TECHNOLOGIES</a></li>
					<li class="header__item"><a class="header__link" href="#how">HOW TO</a></li>
					<li class="header__item"><a class="button button--outline" href="#contact">CONTACT US</a></li>
					<li class="header__item"><a class="button" href="#join">JOIN HYDRA</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
