@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

b,
strong {
	font-weight: 700;
}

@mixin h1 {
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1.4em;

	@media (min-width: 768px) {
		font-size: 4rem;
	}

	@media (max-width: 767px) {
		font-size: 2.4rem;
	}
}

@mixin h2 {
	font-weight: 300;
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 3.6rem;
	}

	@media (max-width: 767px) {
		font-size: 2.6rem;
	}
}

@mixin h3 {
	line-height: 1.6em;
	font-size: 2.4rem;
	font-weight: 700;
}

@mixin h4 {
}
@mixin h5 {
}
@mixin h6 {
}

@mixin text {
	@media (min-width: 768px) {
		font-size: 1.6rem;
		line-height: 1.6em;
	}

	@media (max-width: 767px) {
		font-size: 1.2rem;
		line-height: 1.7em;
	}
}

@mixin text-s {
	font-size: 1.4rem;
	line-height: 1.6em;
}

@mixin text-xs {
	font-size: 1.2rem;
	line-height: 1.6em;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

// h4,
// .h4 {
// 	@include h4;
// }

// h5,
// .h5 {
// 	@include h5;
// }

// h6,
// .h6 {
// 	@include h6;
// }

p {
	@include text;
}
