// fonts
$font: "Montserrat", sans-serif;

// colors
$white: #ffffff;

$black-1: #343045;
$black-2: #211e2e;
$black-3: #0d0d0d;

$purple-1: #8176af;
$purple-2: #c0b7e8;
$purple-3: #433d60;
$purple-4: #302c42;
$purple-5: #ac68d9;
$purple-6: #211e2e;
$purple-7: #3a3456;

$gradient-1: linear-gradient(90deg, $purple-2 0%, $purple-1 100%);
$gradient-2: linear-gradient(156deg, $purple-2 0%, $purple-1 100%);
$gradient-3: linear-gradient(227deg, $purple-2 0%, $purple-1 100%);
$gradient-4: linear-gradient(268deg, $purple-2 0%, $purple-1 100%);
$gradient-5: radial-gradient(50% 50% at 50% 50%, $purple-3 0%, $black-2 100%);
$gradient-6: linear-gradient(to left, $black-1 0%, $purple-2 34.8958%, $purple-1 68.75%, $black-1 100%);
$gradient-7: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba($purple-7, 0.95) 0%, $purple-6 100%);

// @media (min-width: 1201px) {
// }

// @media (max-width: 1200px) {
// }

// @media (min-width: 992px) {
// }

// @media (max-width: 991px) {
// }

// @media (min-width: 768px) {
// }

// @media (max-width: 767px) {
// }

// @media (min-width: 480px) {
// }

// @media (max-width: 479px) {
// }
