.burger {
	position: relative;

	width: 3.6rem;
	height: 3.6rem;

	background: transparent;
	border: 0;

	cursor: pointer;
	overflow: hidden;

	@media (min-width: 992px) {
		display: none;
	}

	span {
		position: absolute;
		top: 50%;

		height: 3px;

		background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);

		border-radius: 40px;

		will-change: transform, top;
		transition: transform 0.2s, width 0.1s, top 0.2s;

		&:nth-of-type(1) {
			right: 0;

			width: 2.4rem;

			transform: translate(0, -50%);
		}

		&:nth-of-type(2) {
			top: calc(50% - 1.2rem);
			right: 0;

			width: 3.4rem;

			transform: translate(0, -50%);
		}

		&:nth-of-type(3) {
			top: calc(50% + 1.2rem);
			right: 0;

			width: 3.4rem;

			transform: translate(0, -50%);
		}
	}

	&.active {
		span {
			&:nth-of-type(1) {
				width: 0px;
			}

			&:nth-of-type(2) {
				top: 50%;
				transform: translate(0, 0%) rotate(45deg);
			}

			&:nth-of-type(3) {
				top: 50%;
				transform: translate(0, 0%) rotate(-45deg);
			}
		}
	}
}
