button {
	font-family: inherit;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	min-height: 4.8rem;
	padding-inline: 3.8rem;

	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: inherit;
	color: $black-1;

	background: linear-gradient(90deg, $purple-2 0%, transparent) $purple-1;

	border: none;
	border-radius: 4rem;

	cursor: pointer;

	will-change: background-color, color, border-color;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;

	@media (max-width: 767px) {
		width: 100%;
	}

	&.button--outline {
		color: $white;

		background: transparent;

		border: 1px solid $white;
	}

	&.button--arrow {
		@media (min-width: 768px) {
			position: relative;
		}

		&:after {
			@media (min-width: 768px) {
				position: absolute;
				top: 50%;
				left: calc(100% + 4rem);

				width: 4.6rem;
				height: 3.8rem;

				background: url("../images/dev/svg/arrow-2.svg");

				will-change: transform;
				transition: transform 0.2s;

				transform: translateY(-50%);
				content: "";
			}
		}
	}

	&:hover,
	&:focus-visible {
		color: $black-2;

		background-color: $purple-5;

		&.button--outline {
			color: inherit;

			background-color: rgba($purple-5, 0.4);

			border-color: rgba($purple-5, 0.4);
		}

		&.button--arrow:after {
			transform: translate(1rem, -50%);
		}
	}
}
