input,
textarea {
	font-family: inherit;
}

textarea {
	resize: none;
}

.form {
	position: relative;

	border: 2px solid $white;
	border-radius: 4rem;

	@media (min-width: 768px) {
		padding: 2.2rem 4.2rem;
	}

	@media (max-width: 767px) {
		padding: 1.6rem 3rem;
	}
}

.form__input {
	width: 100%;
	height: 100%;

	color: $white;

	background: transparent;

	outline: 0;
	border: none;

	@include text-s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .form__label {
		font-size: 1.4rem;
		color: $white;

		cursor: text;

		@media (min-width: 768px) {
			top: 2.5rem;
		}

		@media (max-width: 767px) {
			top: 1.6rem;
		}
	}

	&:focus-visible {
		~ .form__label {
			position: absolute;

			display: block;

			font-size: 1.2rem;

			@media (min-width: 768px) {
				top: 4px;

				color: $purple-2;
			}

			@media (max-width: 767px) {
				top: 2px;

				color: $purple-1;
			}
		}
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 9999s ease-in-out 0s;
		-webkit-text-fill-color: $white;
		caret-color: $white;

		box-shadow: 0 0 0px 100rem transparent inset;
	}
}

.form__label {
	position: absolute;

	display: block;

	font-size: 1.2rem;

	will-change: top, font-size;
	transition: top 0.2s, font-size 0.2s;

	@media (min-width: 768px) {
		top: 4px;

		color: $purple-2;
	}

	@media (max-width: 767px) {
		top: 2px;

		color: $purple-1;
	}
}

.form__error {
	display: none;

	margin-top: 0.6rem;

	font-size: 1.2rem;
	color: #ff4d4f;

	position: absolute;
	left: 4.2rem;
	bottom: -1.8rem;

	will-change: opacity;
	transition: opacity 0.2s ease;
}
