input,
textarea {
	font-family: inherit;
}

textarea {
	resize: none;
}

.form {
	position: relative;

	padding: 22px 42px 22px 42px;

	border: 2px solid $white;
	border-radius: 40px;
}

.form__input {
	width: 100%;

	color: $white;

	background: transparent;

	outline: 0;
	border: none;

	@include text-s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .form__label {
		top: 25px;

		font-size: 1.4rem;
		color: $white;

		cursor: text;
	}

	&:focus-visible {
		~ .form__label {
			position: absolute;
			top: 4px;

			display: block;

			font-size: 1.2rem;
			color: $purple-2;
		}
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 9999s ease-in-out 0s;
		-webkit-text-fill-color: $white;
		caret-color: $white;

		box-shadow: 0 0 0px 1000px transparent inset;
	}
}

.form__label {
	position: absolute;
	top: 4px;

	display: block;

	font-size: 1.2rem;
	color: $purple-2;

	transition: top 0.2s, font-size 0.2s;
}

.form__error {
	display: none;

	margin-top: 6px;

	font-size: 1.2rem;
	color: #ff4d4f;

	position: absolute;
	left: 42px;
	bottom: -1.8rem;

	transition: opacity 0.2s ease;
}
