.contact-slider__wrapper {
	@media (min-width: 992px) {
		display: flex;
		justify-content: space-between;

		background: $gradient-7;

		border-radius: 9rem;
		box-shadow: 0 4px 4px 0 rgba($purple-2, 0.01);
	}

	@media (min-width: 1201px) {
		padding: 2.4rem;
	}

	@media (max-width: 1200px) and (min-width: 992px) {
		padding: 2.4rem 1.5rem;
	}
}

.contact-slider__slide {
	@media (min-width: 1201px) {
		padding: 3rem 2rem;
	}

	@media (max-width: 1200px) and (min-width: 992px) {
		padding: 2rem 1rem;
	}

	@media (min-width: 992px) {
		flex: 1 1 33.333%;
	}

	@media (max-width: 991px) {
		padding: 3.2rem 4rem;

		background: $gradient-7;

		border-radius: 9rem;
		box-shadow: 0 4px 4px 0 rgba($purple-2, 0.01);
	}

	&:not(:last-child) {
		@media (min-width: 992px) {
			border-right: 1px solid rgba($purple-2, 0.3);
		}
	}
}

.contact-slider__row {
	display: flex;
	justify-content: center;

	@media (min-width: 1201px) {
		align-items: flex-start;
		gap: 2rem;
	}

	@media (max-width: 1200px) {
		align-items: center;
		gap: 1.5rem;
	}
}

.contact-slider__image_wrapper {
	max-width: 5rem;
	aspect-ratio: 1;
}

.contact-slider__image {
	@include image-contain;
}

.contact-slider__title {
	@include h3;

	@media (max-width: 1200px) {
		display: none;
	}
}

.contact-slider__link {
	@include text-s;
}
