.footer {
	position: relative;

	padding-block: 6rem;
}

.footer__deco {
	position: absolute;
	left: 0;
	right: 0;

	z-index: -1;

	&.footer__deco--1 {
		bottom: 90%;
	}

	&.footer__deco--2 {
		bottom: 34%;
	}
}

.footer__row {
	display: flex;
	align-items: stretch;

	padding-bottom: 7rem;

	@media (max-width: 991px) {
		flex-wrap: wrap;
		gap: 4rem 0;
	}

	&:not(:last-child) {
		position: relative;

		@media (min-width: 768px) {
			margin-bottom: 5rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 3.6rem;
		}

		&:after {
			position: absolute;
			bottom: 0;
			right: 0;

			height: 1px;
			width: 100%;

			background: linear-gradient(68.8deg, $black-1 0%, $black-1 0%, $purple-2 34.9%, $purple-1 68.7%, $black-1 99.5%);

			content: "";
		}
	}
}

.footer__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	@media (min-width: 992px) {
		flex: 1 1 25%;

		padding-inline: 1rem;
	}

	@media (max-width: 991px) {
		text-align: center;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		flex: 1 1 33.333%;
	}

	&:first-child {
		@media (min-width: 992px) and (min-width: 768px) {
			padding-left: 0;
		}
	}

	&:last-child {
		@media (min-width: 992px) and (min-width: 768px) {
			padding-right: 0;
		}
	}

	&:not(:last-child) {
		@media (min-width: 992px) and (min-width: 768px) {
			@include column-deco;
		}
	}

	&:nth-of-type(2) {
		@media (max-width: 991px) and (min-width: 768px) {
			order: -1;
		}
	}

	&:nth-child(-n + 2) {
		@media (max-width: 991px) and (min-width: 768px) {
			@include column-deco;
		}
	}

	&.footer__column--navigation {
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.footer__logo_link {
	display: inline-block;

	width: 100%;
	max-width: 18.5rem;

	aspect-ratio: 1;
}

.footer__logo {
	@include image-contain;
}

.footer__item {
	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.footer__link {
	font-weight: 700;

	@include text;

	&:hover,
	&:focus-visible {
		color: $purple-2;
	}
}

.footer__subtitle {
	font-size: 1.6rem;
	line-height: 1.6em;
	font-weight: 700;

	&:not(:last-child) {
		margin-bottom: 2.6rem;
	}
}

.footer__media_list {
	display: flex;
	align-items: center;
	gap: 2rem;

	&:not(:last-child) {
		@media (min-width: 768px) {
			margin-bottom: 2.6rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 4.6rem;
		}
	}
}

.footer__media_link {
	display: inline-block;

	width: 100%;
	max-width: 3.2rem;

	border-radius: 50%;
	aspect-ratio: 1;

	&:hover,
	&:focus-visible {
		filter: brightness(0) saturate(100%) invert(61%) sepia(53%) saturate(358%) hue-rotate(229deg) brightness(97%) contrast(77%);
	}
}

.footer__media_image {
	@include image-contain;
}

.footer__bottom {
	text-align: center;
}

.footer__text {
	width: 100%;

	font-weight: 700;

	@include text-s;

	& a {
		color: $purple-2;

		&:not(.link--no-hover):before {
			bottom: 0;
		}

		&:hover,
		&:focus-visible {
			color: $purple-5;
		}
	}
}
