.hero__wrapper {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 991px) {
		flex-direction: column-reverse;
	}

	@media (min-width: 768px) {
		gap: 6rem;
	}

	@media (max-width: 767px) {
		gap: 3.6rem;
	}
}
.hero__deco {
	position: absolute;
	z-index: -1;

	&.hero__deco--1 {
		top: 14%;
		left: 2%;

		max-height: 56rem;
	}

	&.hero__deco--2 {
		top: -38%;
		left: 40%;

		max-height: 84.5rem;
	}
}

.hero__row {
	@media (min-width: 992px) {
		max-width: 50rem;
	}
}

.hero__title {
	@media (max-width: 767px) {
		text-align: center;
	}

	& span {
		font-weight: 700;
		-webkit-text-fill-color: transparent;

		background: $gradient-2;
		background-clip: text;
		-webkit-background-clip: text;

		@media (min-width: 768px) {
			font-size: 4.6rem;
		}

		@media (max-width: 767px) {
			font-size: 3.6rem;
		}
	}

	&:not(:last-child) {
		margin-bottom: 3.2rem;
	}
}

.hero__text {
	&:not(:last-child) {
		@media (min-width: 768px) {
			margin-bottom: 6.2rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 3.6rem;
		}
	}
}

.hero__image_wrapper {
	max-width: 50rem;
	aspect-ratio: 1.15 / 1;
	
	border-radius: 10rem 10rem 10rem 24rem;
	overflow: hidden;

	@media (min-width: 768px) {
		margin: 1.5rem;

		outline: 1.5rem solid rgba($black-3, 0.13);
	}

	@media (max-width: 767px) {
		margin: 1rem;

		outline: 1rem solid rgba($black-3, 0.13);
	}
}

.hero__image {
	@include image-cover;
}
