.join__wrapper {
	padding: 90px;

	background: $gradient-5;

	border-radius: 100px;
	box-shadow: 0 4px 4px 0 rgba($black-3, 0.25);
}

.join__heading {
	&:not(:last-child) {
		margin-bottom: 70px;
	}
}

.join__form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: row;
	gap: 40px 10px;
}

.join__item {
	&.join__item--full {
		grid-column: span 2;
	}

	&.join__item--textarea {
		min-height: 210px;
	}
}

.join__button {
	grid-column: 1 / -1;
	justify-self: center;

	&:not(:first-child) {
		margin-top: 10px;
	}
}
