.join__wrapper {
	background: $gradient-5;

	box-shadow: 0 4px 4px 0 rgba($black-3, 0.25);

	@media (min-width: 768px) {
		padding: 9rem;

		border-radius: 10rem;
	}

	@media (max-width: 767px) {
		padding: 4.5rem 2rem;

		border-radius: 4rem;
	}
}

.join__heading {
	&:not(:last-child) {
		@media (min-width: 768px) {
			margin-bottom: 7rem;
		}

		@media (max-width: 767px) {
			margin-bottom: 3.6rem;
		}
	}
}

.join__form {
	position: relative;

	display: grid;
	grid-auto-flow: row;

	@media (min-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem 1rem;
	}

	@media (max-width: 991px) {
		grid-template-columns: 1fr;
		gap: 2.2rem;
	}
}

.join__item {
	&.join__item--full {
		@media (min-width: 992px) {
			grid-column: span 2;
		}
	}

	&.join__item--textarea {
		min-height: 21rem;
	}
}

.join__button {
	grid-column: 1 / -1;
	justify-self: center;

	&:not(:first-child) {
		margin-top: 1rem;
	}
}

.join__message {
	position: absolute;
	bottom: -3rem;
	left: 50%;
	transform: translateX(-50%);

	color: $green;
	font-size: 1.2rem;
	white-space: nowrap;

	opacity: 0;
	visibility: hidden;

	.join__form--success & {
		opacity: 1;
		visibility: visible;
	}
}
